.main-body{
   
    background-color:rgb(169, 229, 234);
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(191, 132, 132),rgb(125, 189, 125),rgb(205, 205, 133),rgb(212, 163, 171),rgb(159, 159, 190),rgb(237, 209, 156));
}



