.eye{
    position: absolute;
   cursor: pointer;
   /* background-color: red; */
   top: 0;
   right: 0;
   margin-right: 20px;
   margin-top: 4px;
  }

  #eyee{
    position: relative;
  }

  .rgcard{
   
background-color: rgb(167, 229, 227);
  }